# Extracting Data from Relational Database

### SQLITE DATABASE

### import package

In [7]:
#import sqlite3 package
import sqlite3

### connect to database

In [11]:
#create a connection to connect to a database:create database if not available
connection=sqlite3.connect("classroom.db")
connection.close()

### create table

In [12]:
#open connection 
connection=sqlite3.connect("classroom.db")
#open cursor
cursor=connection.cursor()
#query to create table
drop table="""Drop Table classroom;"""
create_table="""Create table classroom (student_id INTEGER PRIMARY KEY,
Name VARCHAR(20),
gender CHAR(1),
physics_marks INTEGER,
chemistry_marks INTEGER,
math_marks INTEGER
);"""
#execute query
cursor.execute(drop_table)
cursor.execute(create_table)
connection.commit()
#close connection
connection.close()

SyntaxError: invalid syntax (<ipython-input-12-748bc854743e>, line 6)

### Insert data

In [14]:
classroom_data=[(1,'Jyotsena','F',90,95,83),(2,'Piyush','M',85,76,90),(3,'Riana','F',89,85,91),(4,'Shivangi','F',90,95,87)]
connection=sqlite3.connect("Classroom.db")
cursor=connection.cursor()
for student in classroom_data:
    insert_query="""Insert into classroom values({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    cursor.execute(insert_query)
connection.commit()
connection.close()

### query data

In [23]:
connection =sqlite3.connect('Classroom.db')
cursor=connection.cursor()
select_query="""select * from Classroom;"""
cursor.execute(select_query)
result=cursor.fetchall()
for i in result:
    print(i)
connection.commit()
connection.close()

(1, 'Jyotsena', 'F', 90, 95, 83)
(2, 'Piyush', 'M', 85, 76, 90)
(3, 'Riana', 'F', 89, 85, 91)
(4, 'Shivangi', 'F', 90, 95, 87)